.users-page {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 30px;
}

.user-text {
  color: #213f7d;
  font-size: 20px;
  font-weight: 500;
}

/* ===== STATS ===== */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

/* ===== TABLE ===== */
.table-wrapper {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    color: #545f7d;
    padding: 15px 20px;
  }

  th:last-child {
    width: 50px;
    padding: 15px 10px;
  }

  .th-content {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

    svg {
      cursor: pointer;
    }
  }

  td {
    padding: 15px 20px;
    color: #545f7d;
    font-size: 14px;
  }

  td:last-child {
    width: 50px;
    padding: 15px 10px;
    text-align: center;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  tr {
    border-bottom: 1px solid #e5e9f2;
    cursor: pointer;

    &:hover {
      background: #f9fafc;
    }
  }
}

/* ===== STATUS ===== */
.status {
  padding: 6px 14px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;

  &.active {
    background: #e6f9f0;
    color: #39cd62;
  }

  &.inactive {
    background: #f5f5f7;
    color: #545f7d;
  }

  &.pending {
    background: #fdf7e5;
    color: #e9b200;
  }

  &.blacklisted {
    background: #fde6eb;
    color: #e4033b;
  }
}

/* ===== PAGINATION ===== */

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #213f7d;
}

.pagination-left {
  display: flex;
  align-items: center;
  gap: 10px;

  select {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background: #213f7d1a;
    color: #213f7d;
    border: 1px solid #213f7d1a;
  }
}

.pagination-right {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    min-width: 28px;
    height: 28px;
    border-radius: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #545f7d;

    &:hover {
      background: #f1f4f9;
    }

    &.active {
      background: #213f7d;
      color: #ffffff;
    }

    &.nav {
      background: #f5f7fa;
      font-size: 18px;
      line-height: 0;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .dots {
    padding: 0 6px;
  }
}
