@import "../styles/variables";

.th-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-box {
  position: absolute;
  top: 35px;
  left: -20;
  width: 290px;
  background: $white;
  padding: 20px;
  border-radius: 8px;
  z-index: 20;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  .filter-field {
    margin-bottom: 16px;

    label {
      display: block;
      font-size: 12px;
      color: $text-light;
      margin-bottom: 6px;
      font-weight: 500;
    }

    input,
    select {
      width: 100%;
      padding: 10px 12px;
      border: 1px solid #e5e9f2;
      border-radius: 6px;
      font-size: 14px;
      color: $text-dark;
      box-sizing: border-box;
      background: transparent;

      &:focus {
        outline: none;
        border-color: $primary;
      }

      &[type="date"] {
        color-scheme: light;

        &::-webkit-calendar-picker-indicator {
          opacity: 0;
          position: absolute;
          right: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    .date-input-wrapper {
      position: relative;

      .calendar-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: $text-light;
        pointer-events: none;
      }
    }
  }

  .actions {
    display: flex;
    gap: 12px;
    margin-top: 20px;

    button {
      flex: 1;
      padding: 10px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border: none;

      &.reset {
        background: transparent;
        color: $text-light;
        border: 1px solid #e5e9f2;
      }

      &.filter {
        background: $primary;
        color: $white;
      }
    }
  }
}
