$primary: #39cdcc;
$secondary: #213f7d;
$text-dark: #213f7d;
$text-light: #545f7d;
$border: #e5e7eb;
$bg: #fbfbfb;
$white: #ffffff;

$radius: 4px;
$font: "Work Sans", sans-serif;
$font-size-base: 16px;
