@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
  background: $bg;
  color: $text-light;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
